.dwa-section-container {
  margin-top: 2rem;
  color: $omega;

  .dwa-section-divider {
    background-color: deeppink; /* Change the color to pink */
    height: 1px; /* Adjust the height to make it thinner */
    border: none; /* Remove the default border to make it fully horizontal */
    margin: 1rem 0; /* Add some spacing above and below the <hr> */
  }

  .dwa-section-title{
    font-weight: 400;
    font-size: .9rem;
  }
}
